[Unit]
Description=X-UI Monitor Script
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/xui-monitor/xui_monitor.py
WorkingDirectory=/root/xui-monitor/
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
